.popup__form-name {
  width: 358px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0 auto 30px auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__form-name:focus {
  outline-color: #6694ff;
}

.popup__form-name::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  opacity: 1;
}

@media screen and (max-width:550px) {
  .popup__form-name {
    width: 238px;
  }
}