.profile {
  min-width: 282px;
  max-width: 68.75%;
  display: flex;
  flex-direction: row;
  margin: 40px auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width:940px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
  }
}

@media screen and (max-width:320px) {
  .profile {
    margin: 42px auto 0 auto;
  }
}
