.photo-cards__like-button {
  width: 22px;
  max-height: 19px;
  margin: 29px 18px 29px auto;
  padding: 0;
  background: url(../../../images/Like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.photo-cards__like-button:hover {
  opacity: 0.5;
}