.popup__title {
  width: 330px;
  height: 23px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  padding: 34px 64px 54px 36px;
  opacity: 1;
}